<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xrk.dao.UserMapper">
	<!-- 以下与实体类的中字段一致 -->
	<resultMap id="BaseResultMap" type="com.xrk.entity.User">
		<id column="userId" property="userId" jdbcType="INTEGER"/>
		<result column="userName" property="userName" jdbcType="VARCHAR"/>
		<result column="userPassword" property="userPassword" jdbcType="VARCHAR"/>
		<result column="userNickname" property="userNickname" jdbcType="VARCHAR"/>
		<result column="userRealname" property="userRealname" jdbcType="VARCHAR"/>
		<result column="userAge" property="userAge" jdbcType="INTEGER"/>
		<result column="userSex" property="userSex" jdbcType="VARCHAR"/>
		<result column="userAddress" property="userAddress" jdbcType="VARCHAR"/>
		<result column="userAddress" property="userAddress" jdbcType="VARCHAR"/>
		<result column="userMail" property="userMail" jdbcType="VARCHAR"/>
		<result column="userQQ" property="userQQ" jdbcType="VARCHAR"/>
		<result column="regTime" property="regTime" jdbcType="TIMESTAMP"/>
		<result column="lastLogintime" property="lastLogintime" jdbcType="TIMESTAMP"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="province" property="province" jdbcType="VARCHAR"/>
		<result column="city" property="city" jdbcType="VARCHAR"/>
		<result column="bankName" property="bankName" jdbcType="VARCHAR"/>
		<result column="branchBank" property="branchBank" jdbcType="VARCHAR"/>
		<result column="subbranchBank" property="subbranchBank" jdbcType="VARCHAR"/>
		<result column="openBankName" property="openBankName" jdbcType="VARCHAR"/>
		<result column="bankAccountName" property="bankAccountName" jdbcType="VARCHAR"/>
		<result column="bankAccount" property="bankAccount" jdbcType="VARCHAR"/>
		<result column="accountType" property="accountType" jdbcType="VARCHAR"/>
		<result column="pay" property="pay" jdbcType="VARCHAR"/>
		<result column="mark" property="mark" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="VARCHAR"/>
		<result column="parentNumber" property="parentNumber" jdbcType="VARCHAR"/>
		<result column="enable" property="enable" jdbcType="BIT"/>
	</resultMap>

	<sql id="selectId">
		userId,
		userName,
		(select r.name from xrk_role r where id in (SELECT ur.role_id FROM xrk_user_role ur
		WHERE ur.user_id=userId)) roleName,
		userPassword,
		userNickname,
		userRealname,
		userAge,
		userSex,
		userAddress,
		userPhone,
		userMail,
		userQQ,
		regTime,
		(select ul.loginTime from xrk_userloginlist ul where ul.userId=userId order By ul.loginTime desc limit 1,1) lastLogintime,
		level,
		province,
		city,
		bankName,
		branchBank,
		subbranchBank,
		openBankName,
		bankAccountName,
		bankAccount,
		accountType,
		pay,
		mark,
		status,
		parentNumber,
		enable
	</sql>

	<select id="findAllByPage" resultType="java.util.Map">
		select
		<include refid="selectId" />
		from xrk_user
		<where>
			<if test="userName != null and userName != ''">
				userName LIKE CONCAT(CONCAT('%', #{userName,jdbcType=VARCHAR}), '%')
				</if>
			<if test="userNickname != null and userNickname != ''">
				and userNickname LIKE CONCAT(CONCAT('%', #{userNickname,jdbcType=VARCHAR}), '%')
				</if>
		</where>
	</select>
	<!-- 总记录数 -->
	<select id="count" resultType="int" parameterType="com.xrk.entity.User">
		select count(0) from xrk_user
		<where>
			<if test="userName != null and userName != ''">
				userName like '%${userName}%'
				</if>
			<if test="userNickname != null and userNickname != ''">
				and userNickname like '%${userNickname}%'
				</if>
		</where>
	</select>
	<!-- 增加用户 -->
	<insert id="add" parameterType="com.xrk.entity.User">
		insert into xrk_user( userName,
		userPassword,
		userNickname, userRealname,
		userAge, userSex, userAddress,
		userPhone,
		userMail, userQQ, level,
		province,
		city,
		bankName,
		branchBank,
		subbranchBank,
		openBankName,
		bankAccountName,
		bankAccount,
		accountType,
		pay,
		mark,
		status,
		parentNumber,
		enable)
		values (#{userName},
		#{userPassword},
		#{userNickname}, #{userRealname},
		#{userAge},
		#{userSex},
		#{userAddress}, #{userPhone}, #{userMail},
		#{userQQ},
		#{level},
		#{province},
		#{city},
		#{bankName}, #{branchBank},
		#{subbranchBank},
		#{openBankName},
		#{bankAccountName}, #{bankAccount}, #{accountType},
		#{pay},
		#{mark},#{status},
		#{parentNumber},
		#{enable}
		)
	</insert>

	<delete id="deleteById" parameterType="String">
		delete from xrk_user where
		userId=#{userId}
	</delete>
	<select id="getById" parameterType="String" resultMap="BaseResultMap">
		select
		<include refid="selectId" />
		from xrk_user where userId=#{userId}
	</select>
	<update id="update" parameterType="com.xrk.entity.User">
		update xrk_user
		<set>
			<if test="userName != null and userName != ''">
				userName=#{userName},
			</if>
			<if test="userPassword != null and userPassword != ''">
				userPassword=#{userPassword},
			</if>
			<if test="userNickname != null and userNickname != ''">
				userNickname=#{userNickname},
			</if>
			<if test="userRealname != null and userRealname != ''">
				userRealname=#{userRealname},
			</if>
			<if test="userAge != null and userAge != ''">
				userAge=#{userAge},
			</if>
			<if test="userSex != null and userSex != ''">
				userSex=#{userSex},
			</if>
			<if test="userAddress != null and userAddress != ''">
				userAddress=#{userAddress},
			</if>
			<if test="userPhone != null and userPhone != ''">
				userPhone=#{userPhone},
			</if>
			<if test="userMail != null and userMail != ''">
				userMail=#{userMail},
			</if>
			<if test="userQQ != null and userQQ != ''">
				userQQ=#{userQQ},
			</if>
			<if test="level != null and level != ''">
				level=#{level},
			</if>
			province=#{province},
		city=#{city},
		bankName=#{bankName},
		branchBank=#{branchBank},
		subbranchBank=#{subbranchBank},
		openBankName=#{openBankName},
		bankAccountName=#{bankAccountName}, 
		bankAccount=#{bankAccount},
		accountType=#{accountType},
		pay=#{pay},
		mark=#{mark},
		status=#{status},
		parentNumber =#{parentNumber},
			enable =#{enable}
		</set>
		where userId=#{userId}
	</update>
	
	<!-- 验证用户登陆 -->
	<select id="countUser" parameterType="com.xrk.entity.User" resultType="int">
	    select count(*) from xrk_user where 
	    userName=#{userName} and userPassword=#{userPassword}
	</select>
	
	<!-- 根据用户名查出userId -->
	<select id="queryUserName" parameterType="String" resultMap="BaseResultMap">
	  select
	  <include refid="selectId"/>
	  from xrk_user where userName=#{userName}
	</select>
</mapper>